openapi: 3.1.0
info:
  title: Quub Exchange - Gateway API
  version: 2.0.0
  license:
    name: Proprietary
    url: https://quub.exchange/license
  description: |
    Gateway health and heartbeat endpoints for monitoring and service discovery.
    All business operations are handled by dedicated service APIs (tenancy-trust, exchange, compliance, etc.).
servers:
  - url: https://api.quub.com/v2
    description: Production Gateway
tags:
  - name: Gateway
    description: Gateway health monitoring and service status
paths:
  /health:
    get:
      operationId: getHealth
      tags:
        - Gateway
      summary: Aggregate health check of all registered services
      description: |
        Returns aggregated health status from all backend services.
        Used by load balancers and monitoring systems.
      security: []
      responses:
        '200':
          description: Health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /heartbeat:
    get:
      operationId: getHeartbeat
      tags:
        - Gateway
      summary: Simple heartbeat check
      description: |
        Lightweight endpoint that returns immediately.
        Used for basic availability checks.
      security: []
      responses:
        '200':
          description: Heartbeat response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    HealthResponse:
      type: object
      required:
        - status
        - services
        - timestamp
      properties:
        status:
          type: string
          enum:
            - healthy
            - degraded
            - unhealthy
          description: Overall gateway health status
        services:
          type: array
          items:
            $ref: '#/components/schemas/ServiceHealth'
        totalServices:
          type: integer
          example: 12
        healthyServices:
          type: integer
          example: 11
        unhealthyServices:
          type: integer
          example: 1
        timestamp:
          type: string
          format: date-time
    ServiceHealth:
      type: object
      required:
        - name
        - status
        - url
      properties:
        name:
          type: string
          example: exchange
        status:
          type: string
          enum:
            - healthy
            - unhealthy
            - unknown
        url:
          type: string
          example: https://internal.quub.exchange
        responseTime:
          type: integer
          description: Response time in milliseconds
          example: 42
        lastCheck:
          type: string
          format: date-time
    Problem:
      type: object
      description: RFC7807-style error object for consistent error representation.
      required:
        - type
        - title
        - status
      properties:
        type:
          type: string
          format: uri
          description: URI identifying the error type
          example: https://docs.quub.exchange/problems/validation-error
        title:
          type: string
          description: Short, human-readable summary of the problem
        status:
          type: integer
          minimum: 100
          maximum: 599
          description: HTTP status code for this error
        detail:
          type: string
          description: Detailed explanation of the specific error occurrence
        instance:
          type: string
          description: URI reference identifying this specific error occurrence
        code:
          type: string
          description: Machine-readable internal code (e.g., VALIDATION_ERROR)
        traceId:
          type: string
          format: uuid
          description: Request trace ID for debugging
        errors:
          type: array
          description: Optional list of field-level validation issues
          items:
            type: object
            required:
              - field
              - message
            properties:
              field:
                type: string
              message:
                type: string
              code:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization with scope-based access control
      flows:
        authorizationCode:
          authorizationUrl: https://auth.quub.exchange/oauth/authorize
          tokenUrl: https://auth.quub.exchange/oauth/token
          scopes:
            read:analytics: Read access to analytics reports
            write:analytics: Create and update analytics reports
            read:banking: Read access to banking operations
            write:banking: Execute banking transactions
            read:chain: Read access to blockchain operations
            write:chain: Execute blockchain transactions
            read:compliance: Read access to compliance data
            write:compliance: Manage compliance rules and records
            admin:compliance: Administrative access to compliance operations
            read:custody: Read access to custodian operations
            write:custody: Execute custody operations
            admin:custody: Administrative access to custody
            read:data: Read access to data services
            write:data: Create and update data records
            read:documents: Read access to documents
            write:documents: Upload and manage documents
            read:escrow: Read access to escrow accounts
            write:escrow: Manage escrow operations
            read:events: Read access to event streams
            write:events: Publish events
            read:exchange: Read access to exchange operations
            write:exchange: Execute exchange trades
            read:fees: Read access to fees and billing
            write:fees: Manage fees and billing
            read:gateway: Read access to gateway status
            write:gateway: Manage gateway configuration
            read:governance: Read access to governance proposals
            write:governance: Create and vote on proposals
            admin:governance: Administrative access to governance
            read:identity: Read access to identity data
            write:identity: Manage identity records
            read:marketplace: Read access to marketplace listings
            write:marketplace: Create and manage listings
            read:notifications: Read access to notifications
            write:notifications: Send notifications
            read:observability: Read access to metrics and logs
            write:observability: Manage observability configuration
            read:pricing: Read access to pricing data
            write:pricing: Manage reference data
            read:primary: Read access to primary market offerings
            write:primary: Create and manage offerings
            read:risk: Read access to risk limits
            write:risk: Manage risk limits
            admin:risk: Administrative access to risk controls
            read:sandbox: Read access to sandbox environments
            write:sandbox: Manage sandbox resources
            read:settlements: Read access to settlement data
            write:settlements: Execute settlements
            read:tenancy: Read access to tenant configuration
            write:tenancy: Manage tenant settings
            admin:tenancy: Administrative access to tenant operations
            read:transfer-agent: Read access to transfer agent operations
            write:transfer-agent: Execute transfer operations
            read:treasury: Read access to treasury operations
            write:treasury: Execute treasury transactions
            admin:treasury: Administrative access to treasury
            admin:*: Administrative access to all resources
        clientCredentials:
          tokenUrl: https://auth.quub.exchange/oauth/token
          scopes:
            read:analytics: Read access to analytics reports
            write:analytics: Create and update analytics reports
            read:banking: Read access to banking operations
            write:banking: Execute banking transactions
            read:chain: Read access to blockchain operations
            write:chain: Execute blockchain transactions
            read:compliance: Read access to compliance data
            write:compliance: Manage compliance rules and records
            admin:compliance: Administrative access to compliance operations
            read:custody: Read access to custodian operations
            write:custody: Execute custody operations
            admin:custody: Administrative access to custody
            read:data: Read access to data services
            write:data: Create and update data records
            read:documents: Read access to documents
            write:documents: Upload and manage documents
            read:escrow: Read access to escrow accounts
            write:escrow: Manage escrow operations
            read:events: Read access to event streams
            write:events: Publish events
            read:exchange: Read access to exchange operations
            write:exchange: Execute exchange trades
            read:fees: Read access to fees and billing
            write:fees: Manage fees and billing
            read:gateway: Read access to gateway status
            write:gateway: Manage gateway configuration
            read:governance: Read access to governance proposals
            write:governance: Create and vote on proposals
            admin:governance: Administrative access to governance
            read:identity: Read access to identity data
            write:identity: Manage identity records
            read:marketplace: Read access to marketplace listings
            write:marketplace: Create and manage listings
            read:notifications: Read access to notifications
            write:notifications: Send notifications
            read:observability: Read access to metrics and logs
            write:observability: Manage observability configuration
            read:pricing: Read access to pricing data
            write:pricing: Manage reference data
            read:primary: Read access to primary market offerings
            write:primary: Create and manage offerings
            read:risk: Read access to risk limits
            write:risk: Manage risk limits
            admin:risk: Administrative access to risk controls
            read:sandbox: Read access to sandbox environments
            write:sandbox: Manage sandbox resources
            read:settlements: Read access to settlement data
            write:settlements: Execute settlements
            read:tenancy: Read access to tenant configuration
            write:tenancy: Manage tenant settings
            admin:tenancy: Administrative access to tenant operations
            read:transfer-agent: Read access to transfer agent operations
            write:transfer-agent: Execute transfer operations
            read:treasury: Read access to treasury operations
            write:treasury: Execute treasury transactions
            admin:treasury: Administrative access to treasury
            admin:*: Administrative access to all resources
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Org-bound API key; include X-Signature and X-Timestamp on writes.
  responses:
    BadRequest:
      description: Invalid request payload or query parameters (400)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://docs.quub.exchange/problems/bad-request
            title: Bad Request
            status: 400
            detail: Invalid input parameters
            code: BAD_REQUEST
    Unauthorized:
      description: Missing or invalid authentication credentials (401)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://docs.quub.exchange/problems/unauthorized
            title: Unauthorized
            status: 401
            detail: Authentication required
            code: UNAUTHORIZED
    Forbidden:
      description: Insufficient permissions (403)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://docs.quub.exchange/problems/forbidden
            title: Forbidden
            status: 403
            detail: Insufficient permissions
            code: FORBIDDEN
    TooManyRequests:
      description: Rate limit exceeded (429)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://docs.quub.exchange/problems/rate-limit
            title: Too Many Requests
            status: 429
            detail: Rate limit exceeded
            code: RATE_LIMIT_EXCEEDED
    InternalServerError:
      description: Unexpected internal error (500)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://docs.quub.exchange/problems/internal-error
            title: Internal Server Error
            status: 500
            detail: An unexpected error occurred
            code: INTERNAL_ERROR
